<div class="main-container">
    <div class="backgroundPicture"></div>
    <div class="login-form">

        <div>
            <form #signupForm="ngForm" (ngSubmit)="login(signupForm)">
                <div>
                    Username<br>
                    <input type="text" name="username" id="username" ngModel required />
                </div>
                <div>
                    Password<br>
                    <input type="password" name="password" id="password" ngModel required />
                </div>

                <br>
                
                <div style="text-align: center;">
                    <button type="submit">LOGIN</button>
                </div>
            </form>
        </div>

    </div>
</div>