<div class="main-container">
    <div class="backgroundPicture"></div>
    <div class="login-form">

        <div>
            <form [formGroup]="form" (ngSubmit)="login()">
                <div>
                    Username<br>
                    <input type="text" placeholder="Username" formControlName="username"/>
                </div>
                <div>
                    Password<br>
                    <input type="password" placeholder="Password" formControlName="password"/>
                </div>

                <br>

                <div style="text-align: center;">
                    <button type="submit">LOGIN</button>
                </div>
            </form>
        </div>

    </div>
</div>