@import "src/app/config/config.scss";

.container-fluid {
  margin-top: $Size_GLOBAL_MARGIN_TOP;
}

.row {
  margin-top: $Size_GLOBAL_MARGIN_TOP;
}

h3 {
  text-align: center;
}

.col-3 {
  border: black;
}

.col-7 {
  margin-left: auto;
}

.search {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
