<div class="container">
  <h4>Information</h4>
  <div class="row">
    <div *ngFor="let label of topRowLabels;" class="col-4">
      <h5 class="text-center">{{label}}</h5>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let value of topRowValues;" class="col-4">
      <p class="font-weight-normal text-center">{{value}}</p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let label of bottomRowLabels;" class="col-6">
      <h5 class="text-center">{{label}}</h5>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let value of bottomRowValues;" class="col-6">
      <p class="font-weight-normal text-center">{{value}}</p>
    </div>
  </div>

  <br>

  <h4>Add Additional String</h4>
  <div class="row">
    <input type="text" class="form-control col-3" placeholder="Length in m" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    <input type="text" class="form-control col-3" placeholder="Buy date" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    <input type="text" class="form-control col-3" placeholder="Price" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    <button type="button" class="btn btn-secondary col-3">Add</button>
  </div>

  <br>

  <h4>Purchase History</h4>
  <div class="col-12" *ngFor="let history of element.purchaseHistory;">
    <app-purchase-history-cell [history]="history"></app-purchase-history-cell>
  </div>

</div>
